
#home{
    background: url('/public/0.0.1/ui-scribble-no-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.home-cloud {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    padding: 16px;
    margin: 16px 0;
    text-align: center;
    width: 400px;
    font-weight: bold;
    color: #222;
}

/* each home-cloud is angled differently */
.home-cloud-1 {
    transform: rotate(-2deg);
}

.home-cloud-2 {
    transform: rotate(1.5deg);
}

.home-cloud-3 {
    transform: rotate(-1deg);
}